<link rel="stylesheet" href="./components/header/header.styles.css">
<nav class="navbar navbar-default navbar-fixed-top my-navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#!products">Products</a></li>
        
      </ul>
      <!-- shown only if current user is admin -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#!cart">Cart  <span class="badge">{{ $ctrl.cartProducts.fullLength }}</span></a></li>
        <li ng-if="$ctrl.getCurrentUser()"><a class="ws-cursor-default" href="" ng-mouseenter="$ctrl.displayUserData = true"><span class="glyphicon glyphicon-user ws-user-glyphicon" aria-hidden="true"></span>{{ $ctrl.getCurrentUser().username }}</a></li>
        <div class="ws-user-data text-center" ng-if="$ctrl.displayUserData">
          <p>{{ $ctrl.getCurrentUser().username }}</p>
          <a ng-click="$ctrl.logout()">Logout</a>
          <a ng-click="$ctrl.deleteAccount()">Delete account</a>
        </div>
        <li ng-if="!$ctrl.getCurrentUser()"><a ng-click="$ctrl.displayLogin = !$ctrl.displayLogin">Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<ws-login ng-if="$ctrl.displayLogin"></ws-login>