.ws-login-form {
	position: fixed;
	max-width: 400px;
	top: 0px;
	right: 0;
	margin: 60px 6px;
	box-shadow: 0 0 10px;
	padding: 20px 0px;
	border-radius: 4px;
	background-color: white;
}

.navbar-nav>li>a {
	font-size: 1.2em;
}

.navbar-nav>li>a:hover {
	color: white !important;
}

.navbar-nav>li>a:focus {
	color: white !important;
}



.navbar-user:focus {
	color: white !important;
}

.ws-user-glyphicon {
	margin: 0 5px 0 0;
}

.ws-user-data {
	position: absolute;
	top: 50px;
	right: 0;
	background: #3f3f3f;
	box-shadow: 0 0 10px;
}

.ws-navbar {
	background-color: #3f3f3f;
	border-color: var(--main-bg-color);
	/*border-color: #000000;*/
}