/* Global styles */
@import url(http://fonts.googleapis.com/css?family=Roboto);

html {
	height: 100%;
}

body {
	background: #0f0f0f var(--ws-bg-img) no-repeat right top fixed;
	overflow-x: hidden;
	background-size: cover;
}

.ws-container {
	color: var(--ws-main-text-color);
	margin-right: auto;
	margin-left: auto;
}

* {
	font-family: roboto;
}

.ws-no-margin {
	margin: 0 !important;
}

.title {
	font-size: 40px;
	color: red;
}

.ws-min-height-150 {
	min-height: 150px;
}

.ws-margin-bottom-100 {
	margin-bottom: 100px;
}

/* ws-lowered */
.ws-lowered-60 {
	margin-top: 60px;
}
.ws-lowered-50 {
	margin-top: 50px;
}
.ws-lowered-40 {
	margin-top: 40px;
}
.ws-lowered-30 {
	margin-top: 30px;
}
.ws-lowered-20 {
	margin-top: 20px;
}
.ws-lowered-10 {
	margin-top: 10px;
}

.ws-max-height-400 {
	max-height: 400px;
}

.ws-resize-vertical-strict {
	resize:vertical;
	overflow: hidden;
}

.ws-full-width {
	width: 100%;
}

.ws-margin-bottom-15 {
	margin-bottom: 15px;
}

.ws-background-black {
	background-color: black;
}

.ws-color-gray {
	color: #afafaf !important;
}

.ws-color-error {
	color: #ff4545 !important;	
}

.ws-error-label {
	color: #ff4545;
	margin: 5px 2px;
}

.ws-warn-label {
	color: orange;
	margin: 5px 2px;
}

.ws-success-label {
	color: #26b626;
	margin: 5px 2px;
}

.ws-cursor-default {
	cursor: default;
}
.ws-cursor-pointer {
	cursor: pointer;
}

.ws-bordered {
	border: 1px solid black;
}



/* doesn't look like a link but still is a link */
.ws-not-a {
	cursor: default;
	color: black;	
}
.ws-not-a:hover {
	color: black;	
	text-decoration: none;
}
.ws-not-a:focus {
	color: black;
	text-decoration: none;	
}

.ws-overflow-hidden {
	overflow: hidden;
}


.ws-default-color {
	color: var(--ws-main-text-color)
}
.ws-light-color {
	color: #7ab9fc;
}    
.ws-fz-sm {
	font-size: 1.2em !important;
}



.ws-black-divider {
	border-top: 1px solid #010101 !important;
}

.ws-text-shadow {
	text-shadow: 0 0 10px black;
}

.navbar-collapse {
	border-color: black !important;
}

.navbar-default .navbar-toggle {
	border-color: transparent !important;
}

.ws-product-image {
	border: 0;
	width: 100%;
	position: relative;
}

.ws-product-info {
	color: #ffffff;
	font-size: 1.4em;
	letter-spacing: 4px;
	font-weight: 600;
	padding: 15px 15px 0px;
	text-shadow: 0 0 10px black;
	background: #101010;
}

.ws-attach-bottom {
	padding: 0px 0px 15px;
	margin: 15px 0 0;
}

.ws-action-text {
	color: #ffa700;
	font-size: 50px;
	line-height: 50px;
	margin: 0;
	padding: 10px;
	letter-spacing: 5px;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
	transition: text-shadow .3s ease-in, color .1s ease-in;
}

.ws-text-disabled {
	color: grey;
    cursor: default;
}
.ws-text-disabled:hover {
	color: grey !important;
    cursor: default;
}

.ws-fader-bottom {
	height: 150px;
	background: linear-gradient(#ff000000, #101010);
	position: absolute;
	margin: -150px 0 0;
	width: 100%;
}	

.ws-action-text:hover {
	color: #ff5400;
}

.ws-action-text:active {
	color: black;
}

.ws-product-title {
	font-size: 2.3em;
	letter-spacing: 10px;
	padding: 25px;
	margin: 0;
	font-weight: 800;
}

.ws-product-description {
	text-align: center;
	margin: 0;
	padding: 15px;

	/* word break*/	
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.badge {
	margin-left: 5px;
}

.ws-important {
	text-align: center;
}

.ws-important-text {
	text-align: center;
	padding: 10px 15px;
	color: #ad3e3e;
	text-shadow: 0 0 11px #000000;
	margin: 0;
}

.ws-image-container {

}

.ws-no-horizontal-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}