/* Global styles */
@import url(http://fonts.googleapis.com/css?family=Roboto);

html {
    height: 100%;
}

body {
    background: linear-gradient(90deg, var(--color-primary-0), var(--color-secondary-2-4)) !important; /* To override bootstrap's scaffolding.less */
    overflow-x: hidden;
    background-size: cover;
}

* {
    font-family: roboto, serif;
}

.ws-no-margin {
    margin: 0 !important;
}

.title {
    font-size: 40px;
}

.ws-min-height-150 {
    min-height: 150px;
}

.ws-max-height-400 {
    max-height: 400px;
}

.ws-resize-vertical-strict {
    resize: vertical;
    overflow: hidden;
}

.ws-full-width {
    width: 100%;
}

.ws-cursor-default {
    cursor: default;
}

.ws-cursor-pointer {
    cursor: pointer;
}

/* doesn't look like a link but still is a link */
.ws-no-link {
    cursor: default;
    color: black;
}

.ws-no-link:hover {
    color: black;
    text-decoration: none;
}

.ws-no-link:focus {
    color: black;
    text-decoration: none;
}

.ws-overflow-hidden {
    overflow: hidden;
}

.ws-fz-sm {
    font-size: 1.2em !important;
}

.ws-black-divider {
    border-top: 1px solid #010101 !important;
}

.navbar-collapse {
    border-color: black !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent !important;
}

.ws-product-image {
    border: 0;
    width: 100%;
    position: relative;
    max-height: 70rem;
    object-fit: cover;
}

.ws-product-info>h3 {
    font-weight: 700;
    letter-spacing: .1em;
    font-size: 1.2em;
}

.ws-attach-bottom {
    padding: 0 0 15px;
    margin: 15px 0 0;
}

.ws-text-disabled {
    color: grey;
    cursor: default;
}

.ws-text-disabled:hover {
    color: grey !important;
    cursor: default;
}

.ws-fade-bottom {
    height: 150px;
    background: linear-gradient(rgba(255, 0, 0, 0), rgb(16, 16, 16));
    position: relative;
    margin: -150px 0 0;
    width: 100%;
}

.ws-product-description {
    text-align: center;
    margin: 0;

    /* word break*/
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.badge {
    background-color: var(--rgba-primary-4) !important;
    margin-left: 5px;
}