.ws-message-container {
	position: fixed;
	z-index: 10000;
	background-color: #40872bed;
	width: 100%;
	top: 52px;
	padding: 10px 5px 10px 5px;
	box-shadow: 0 0 10px black;
	text-align: center;
	color: white;
}

.ws-message-text {
	margin: 0;
	color: white;
	text-shadow: 0px 0px 10px black;
}

.ws-message-success {
	background-color: #40872bed;
}
.ws-message-warn {
	background-color: #8f7a1aed;
}
.ws-message-error {
	background-color: #491616ed;
}

.ws-message-container .ws-message .ws-message-close {
	font-size: 25px;
	padding: 10px 16px;
	font-weight: 900;
	line-height: 25px;
	top: 0;
	color: black;
	text-decoration: none;
	position: absolute;
	float: right;
	width: 50px;
	left: calc(100% - 50px);
}

.ws-message-container .ws-message .ws-message-close:hover {
	color: white;
}