body {
  position: relative;
}

.ws-modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000a8;
  opacity: .5;
  -ms-filter: "alpha(opacity = 50)";
}


.ws-modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;    
}

.ws-modal-container .ws-modal {
    width: 400px;
    margin: auto;
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 10px;
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid #2f2f2f;
    text-align: center;    
}

.ws-modal-container .ws-modal .btn {
   margin: 20px;
}

.ws-modal-container .ws-modal .ws-modal-close {
    color: grey;
    position: relative;
    top: 0;
    left: 0;
    float: right;
    text-align: right;
    text-decoration: none;
    
}

.ws-modal-container .ws-modal .ws-modal-close:hover {
    color: grey;
}