<link rel="stylesheet" href="./components/cart/cart.styles.css">
<div class="container ws-lowered-60">
	<div class="row">
		<div class="col-xs-12">
			<h2 ng-if="!$ctrl.products.length">
				Your cart is yet empty.
			</h2>
			<form ng-if="$ctrl.products.length" ng-submit="$ctrl.orderConfirmed()">
				<ul class="list-group">
					<li ng-repeat="product in $ctrl.products" class="list-group-item">
						<div class="form-inline">
							<div class="container-fluid">
								
								<div class="row">

									<div class="form-group ws-cart-image col-xs-2">
										<img ng-src="{{product.imageUrl}}" class="ws-cart-image" alt="Description" />
									</div>
									<div class="form-group col-xs-8">
										<label>{{product.name}}</label>
									</div>
									<div class="form-group col-xs-8 text-right">
										<label for="quantity"><span class="badge">{{product.quantity}}</span>&nbsp; x &nbsp; {{product.cost}} &nbsp; = &nbsp; {{ product.quantity * product.cost }} &nbsp; czk &nbsp;</label>
										<div class="btn-group">
											<button type="button" class="btn btn-default" ng-click="$ctrl.more(product)">+</button>
											<button type="button" class="btn btn-default" ng-click="$ctrl.less(product)">-</button>
										</div>
										<button type="button" class="btn btn-default" ng-click="$ctrl.removeProduct($index)">Remove from cart</button>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<label>
							Total: {{ $ctrl.getFullCost() }} czk
						</label>
					</li>
					<li class="list-group-item">
						<button type="submit" class="btn btn-default">Confirm!</button>
						<button type="button" class="btn btn-default" ng-click="$ctrl.clearCart()">Cancel</button>
					</li>
				</ul>
			</form>
		</div>
	</div>
</div>