div.ws-cart-image {
    position: relative;
    display: inline !important;
}

img.ws-cart-image {
    width: 100%;
    position: relative;
}

.ws-col-normalized {
	padding: 10px 0 25px !important;
}
