<link rel="stylesheet" href="./components/products/products.styles.css">
<br>
<div class="row">
    <div class="text-center">
        <div ng-repeat="product in $ctrl.products" class="ws-margin-bottom-30 col-sm-12 col-md-6">
            <div class="ws-product ws-transition-grow ws-cursor-pointer" ng-click="$ctrl.onProduct({ productName: product.name })">
                <img ng-src="{{product.imageUrl}}" class="ws-product-image" alt="Description"/>
                <div class="ws-product-info">
                    <h3 class="text-center">{{product.name | uppercase }}</h3>
                    <p class="ws-product-description text-center">{{ product.description }}</p>
                    <div class="ws-attach-bottom">
                        <h3 ng-if="product.quantity === 0" class="ws-text-disabled">Sold Out</h3>
                        <p ng-if="$ctrl.lowQuantity(product.quantity)" class="ws-important-text">Only {{
                            product.quantity }}
                            pieces left!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>