.ws-cart-image {
    position: relative;
    display: inline !important;    
    width: 100%;
}

.ws-cart {
    font-size: var(--font-size-small);
}

.ws-col-normalized {
	padding: 10px 0 25px !important;
}
