.ws-cart-image {
    position: relative;
    display: inline !important;    
    width: 100%;
}

.ws-cart {
	color: var(--ws-main-text-color);
}

.ws-cart-form {
	color: black;
}

.ws-col-normalized {
	padding: 10px 0 25px !important;
}
