<link rel="stylesheet" href="./components/cart/cart.styles.css">
<br>
<div class="row ws-cart">
    <div class="col-xs-12">
        <div ng-if="!$ctrl.cart.products.length" class="ws-no-content text-center">
            <h2>Your cart is yet to get filled</h2>
            <a href="products" class="ws-action-link ws-no-link"><h3>Choose some!</h3></a>
        </div>
        <form ng-if="$ctrl.cart.products.length" ng-submit="$ctrl.orderConfirmed()" class="ws-cart-form">
            <ul class="list-group">
                <li ng-repeat="product in $ctrl.cart.products" class="list-group-item">
                    <div class="form-inline">
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-4">
                                <a href="product-detail/{{product.name}}">
                                    <img ng-src="{{product.imageUrl}}" class="ws-cart-image" alt="Product Image"/>
                                </a>
                            </div>
                            <div class="form-group col-xs-12 col-sm-8 text-right">
                                <a href="product-detail/{{product.name}}" class="ws-action-link ws-no-link"><h3>
                                    {{product.name}}</h3></a>
                                <h4><span class="badge">{{product.quantity}}</span>&nbsp; &times; &nbsp;
                                    {{product.cost}}
                                    &nbsp; = &nbsp; {{ product.quantity * product.cost }} &nbsp; czk &nbsp;</h4>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" ng-click="$ctrl.more(product)">+
                                    </button>
                                    <button type="button" class="btn btn-default" ng-click="$ctrl.less(product)">-
                                    </button>
                                </div>
                                <button type="button" class="btn btn-default" ng-click="$ctrl.removeProduct($index)">
                                    Remove from cart
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <p class="text-right"><b>Total: {{ $ctrl.getFullCost() }} czk</b></p>
                </li>
                <li ng-if="$ctrl.getCurrentUser()" class="list-group-item text-right">
                    <button type="submit" class="btn btn-default">Confirm!</button>
                    <button type="button" class="btn btn-default" ng-click="$ctrl.clearCart()">Cancel</button>
                </li>
                <li ng-if="!$ctrl.getCurrentUser()" class="list-group-item text-center">
                    <h4 class="ws-warn-label ws-cursor-default">Log in to continue</h4>
                </li>
            </ul>
        </form>
    </div>
</div>