.ws-rating {
	border: 5px solid transparent !important;
	background-color: transparent;
	color: #0000008a;
	display: inline;
	cursor: pointer;
}

*:focus {
	outline: none;
}

.ws-rating-hovered {
	color: #43c6d7;
}

.ws-rating-selected {
	color: #df9330;
}

.ws-review-edit-container {
	box-shadow: inset 0 0 16px -3px black;
	background-color: white;
	padding: 20px;
	padding-bottom: 20px;
	margin: 20px 0 80px;
}
