.ws-rating {
	border: 5px solid transparent !important;
	background-color: transparent;
	color: #0000008a;
	display: inline;
	cursor: pointer;
}

*:focus {
	outline: none;
}

.ws-rating-hovered {
	color: var(--color-complement-1);
}

.ws-rating-selected {
	color: var(--color-primary-2);
}

.ws-review-edit-container {
	box-shadow: var(--box-shadow-2);
	background-color: #efefef;
	padding: 20px;
	border-radius: var(--border-radius-small);
	font-size: var(--font-size-small);
}
