.ws-review-container {
	font-size: 2.4rem;
	box-shadow: 0 0 10px #000000b8;
	border-radius: 5px;
	padding-bottom: 10px;
}

p.ws-rating > * {
	    top: 3px;
    left: 5px;
    display: block;
}

.ws-review-date {
	font-size: 1.7rem;
}