<link rel="stylesheet" href="./components/login/login.styles.css">
<div class="ws-full-cover" ng-click="$ctrl.windowClosed()"></div>
<div class="ws-login-container">
  <form ng-submit="$ctrl.login(form.$valid)" name="form" novalidate>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" id="username" ng-model="$ctrl.username" placeholder="Username" required="" ng-change="$ctrl.checkUsername(form.username.$valid)" ng-model-options="{ debounce: 300 }" minlength="4" maxlength="12" pattern="^[A-z0-9]*$">
      <!-- Warnings -->
      <div class="ws-warnings">
        <p class="ws-warn-label" ng-show="form.username.$error.required && (form.$submitted || form.username.$touched)">
          Please enter username
        </p>
        <p class="ws-error-label" ng-show="form.username.$error.pattern">
          Username contains forbidden characters
        </p>
        <!-- Asyng validators -->
        <div ng-show="$ctrl.username">  
          <p class="ws-success-label" ng-if="$ctrl.usernameFound === true">
            «{{$ctrl.username}}» was found!
          </p>
          <p class="ws-error-label" ng-if="$ctrl.usernameFound === false">
            Username «{{$ctrl.username}}» was not found
          </p>
          <p class="ws-warn-label" ng-if="$ctrl.usernameFound === null">
            Searching...
          </p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" ng-model="$ctrl.password" placeholder="Password" required>

      <p class="ws-warn-label" ng-show="form.password.$error.required && !$ctrl.badPassword">Password is empty</p>
      <p class="ws-error-label" ng-if="$ctrl.badPassword">Wrong password</p>
    </div>
    <button type="submit" class="btn btn-primary ws-full-width">Login</button>
    <a href="registration" class="ws-simple-link" ng-click="$ctrl.register()">Register</a>
  </form>
</div>