<link rel="stylesheet" href="./components/login/login.styles.css">
<div class="ws-full-cover" ng-click="$ctrl.windowClosed()"></div>
<div class="ws-login-container">
    <form ng-submit="$ctrl.login(form_login.$valid)" name="form_login" novalidate>
        <div class="form-group">
            <label for="username_login">Username</label>
            <input type="text" class="form-control" name="username" id="username_login" ng-model="$ctrl.username"
                   placeholder="Username" required="" ng-change="$ctrl.checkUsername(form_login.username.$valid)"
                   ng-model-options="{ debounce: 300 }" minlength="4" maxlength="12">
            <!-- Warnings -->
            <div class="ws-warnings">
                <p class="ws-warn-label"
                   ng-show="form.username.$error.required && (form.$submitted || form.username.$touched)">
                    Please enter username
                </p>
                <!-- Async validators -->
                <div ng-show="$ctrl.username">
                    <p class="ws-success-label" ng-if="$ctrl.usernameFound === true">
                        «{{$ctrl.username}}» was found!
                    </p>
                    <p class="ws-error-label" ng-if="$ctrl.usernameFound === false">
                        Username «{{$ctrl.username}}» was not found
                    </p>
                    <p class="ws-warn-label" ng-if="$ctrl.usernameFound === null">
                        Searching...
                    </p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password_login">Password</label>
            <input type="password" class="form-control" name="password" id="password_login" ng-model="$ctrl.password"
                   placeholder="Password" required>

            <p class="ws-warn-label" ng-show="form_login.password.$error.required && !$ctrl.badPassword">Password is empty</p>
            <p class="ws-error-label" ng-if="$ctrl.badPassword">Wrong password</p>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary ws-full-width">Login</button>
            <a href="registration" class="ws-action-link ws-no-link text-tiny" ng-click="$ctrl.register()">Register</a>
        </div>
    </form>
</div>