.ws-product-detail-container {
	background-color: #303030;
	color: white;
	font-size: 2.4rem;
	box-shadow: 0 0 10px #000000b8;
	border-radius: 5px;
	padding-bottom: 10px;
}

.ws-product-detail-image {
	width: 15px;
}

.ws-cover {
position: absolute;
    width: 120%;
    height: 100%;
    left: -10%;
    top: 0px;
    background-color: rgba(180, 180, 180, 0.68);
    cursor: default;
}

.ws-product-detail-container a {
	color: #7fb6d1;
	text-decoration: none;
}
.ws-product-detail-container a:hover {
	color: #75e7fa;
	text-decoration: none;
}