.ws-product {
	background-color: #eaeaea;
	box-shadow: 0px 0px 20px -5px black;
	padding: 15px;
	margin: 10px 10px;
	min-width: 200px;
	display: inline-block;
	border-radius: 10px;
	overflow: hidden;
	width: 350px;
	height: 500px;
	margin: 10px;
}

.ws-product-image {
	border: 0;
	width: 80%;
	left: 10%;
	position: relative;
}


.ws-product-title {

}

.ws-product-description {
	text-align: justify;
}

.ws-attach-bottom {
	top: 50px;
	position: relative;
	height: 100px;
	background: #c2c2c2;
	padding: 15px 20px;
	margin: -5px -15px;
}

.ws-action-text {
	font-size: 50px;
	line-height: 50px;
	margin: 10px;
	letter-spacing: 5px;
	font-weight: 600;
	background: -webkit-linear-gradient(#767676, #202020);
	text-shadow: 0 0 19px rgba(25, 25, 25, 0.41);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	cursor: pointer;
	transition: text-shadow .3s ease-in;
}


.ws-action-text:hover {
	background: -webkit-linear-gradient(rgba(88, 88, 88, 0.98), #a62bd5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.ws-action-text:active {
	background: -webkit-linear-gradient(rgba(88, 88, 88, 0.98), #a62bd5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0 0 9px rgba(255, 255, 255, 0.41);
}

.ws-important {
	/* width: 200px; */
	height: 50px;
	position: relative;
	top: -450px;
	right: -150px;
	font-size: 20px;
	/* text-align: center; */
	background: linear-gradient(rgba(207, 4, 41, 0.76), #6c1c60);
	border-bottom-left-radius: 10px;
	box-shadow: 0 0 10px black;
	padding: 10px 15px;
	color: white;
	cursor: default;
}

.ws-cover {
	position: relative;
	width: 120%;
	height: 120%;
	left: -10%;
	top: -100%;
	background-color: rgba(180, 180, 180, 0.68);
	cursor: default;
}